/* common styles */
body{
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
}

/* 1s section styles */
.red{
  color: red;
}
.medium-font{
  font-size: 22px;
}
.bold-text{
  font-size: 62px;
  font-weight: 700;
}
.bg-img{
  background-image: url("../images/left-corona-bg.svg");
  background-repeat: no-repeat;
}
.button{
  color: white;
  text-decoration: none;
  background-color: #44B564;
  padding: 10px 30px;
  border-radius: 20px;
}
.custom-color{
  color:#44B564 ;
}
.text-align{
  text-align: center;
}
.fa-arrow-right{
  width: 10px;
}